@charset "utf-8"

/**
 * base style
 */

img
	vertical-align bottom

h1
	margin 0
	font-size 1.8rem

h2
	margin 0
	font-size 1.4em

a
	text-decoration none

body
	margin 0

.container
	padding 10px

section
	>h1
		padding 2px 8px
		font-size 1.4rem
		color #fff
		background #000

article
	padding 14px
	margin-bottom 20px
	background #f4f4f4
	// &:last-child
	// 	margin-bottom 0

	h1
		margin-bottom 10px
		font-size 1.4rem

.text
	margin-top 10px
	font-size 1.0rem
	line-height 1.4
	&:first-child
		margin 0
