// TODO: jade can not describe in multiple lines 2015.09.27
// base data
- var baseData = {};
// base info
- var _siteName = 'siteName';
- var _author = "author";
- var _url = 'http://mysite.com';
- var _description = 'this is description.'