extends tpl/_layout

block head
	meta(property='blocked-meta', content='')
	link(rel='blocked-link', href='')

block content
	section.section_1
		h1.sectin_1__title
			|section_1

		.container
			p.sectin_1__text
				|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

			h2.sectin_1__sub_title
				|subTitle

			.container
				article
					h1.article__title
						|article title
					div.description
						p.text
							|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						p.text
							|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

				article
					h1.article__title
						|article title
					div.description
						p.text
							|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						p.text
							|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

	section.section_2
		h1.sectin_2__title
			|section_2

		.container
			p.sectin_2__text
				|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				br
				|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

			h2.sectin_2__sub_title
				|subTitle
			p.sectin_2__text
				|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

	section.about
		h1
			|about

		.container
			//- img(src="img/profile.jpg", alt="#{_author}", width="200")
			ul
				li name: #{_siteName} 
				li author: #{_author}
				li place: Tokyo, Japan
			p
				|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

block script
	//- blocked script