//- comment: Structural design only

//- extends ../common/base

//- block header
//- 	include module/mixin.jade
//- 	include module/data.jade

//- block content
//- 	include module/_main.jade

//- block footer
//- 	include module/_footer.jade
